body {
	overflow-x: hidden;
	background-color: #b1d4f7;
}

main {
	width: calc(100lvw - 120px);
	max-width: 1240px;
	padding: 30px;
	margin: 10px auto 30px;
	font-family: "Zen Kaku Gothic New", Arial, Helvetica, sans-serif;
	background-color: #fff;
	border-radius: 12px;
}

.top {
	position: relative;
}

.top img {
	width: 100%;
	height: 60lvh;
	object-fit: cover;
	border-radius: 12px;
}

.top hgroup {
	position: absolute;
	right: 28px;
	bottom: 44px;
	display: flex;
	flex-flow: column;
	align-items: end;
	font-family: "Zen Kurenaido", Arial, Helvetica, sans-serif;
}

.top hgroup h1 {
	margin-top: 26px;
	font-size: 50px;
}

.top hgroup p {
	font-size: 32px;
}

.top hgroup h1,
.top hgroup p {
	position: relative;
	z-index: 10;
	width: fit-content;
}

.top hgroup h1::after,
.top hgroup p::after {
	position: absolute;
	top: -7px;
	left: -8px;
	z-index: -1;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	content: "";
	background-color: #fff;
}

.contents {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 30px 0;
}

.contents h2 {
	font-size: 25px;
	font-weight: 500;
}

.contents p {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.75em;
}

.imgWrap img {
	width: calc(100% + 120px);
	height: 450px;
	margin: 0 -60px;
	object-fit: cover;
}

.imgWrap p {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 300;
	color: #5c5f63;
}

@media (width > 1360px) {
	.imgWrap img {
		width: calc(100% + 60px);
		margin: 0 -30px;
	}
}

.aboutWrap {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	margin-top: 10px;
}

.aboutWrap table {
	width: 100%;
	height: fit-content;
}

.aboutWrap table tr {
	width: 100%;
	height: 35px;
	padding: 0;
}

.aboutWrap table tr:nth-child(2n - 1) {
	background-color: #f0f0f0;
}

.aboutWrap table tr th,
.aboutWrap table tr td {
	font-size: 16px;
	line-height: 35px;
}

.aboutWrap table tr th {
	padding: 0 20px;
	font-weight: 500;
	text-align: left;
}

.aboutWrap .iframeWrap {
	display: block;
	width: 100%;
	aspect-ratio: 4 / 3;
}

.aboutWrap .iframeWrap iframe {
	width: 100%;
	height: 100%;
}

p a {
	color: #000;
}

p.source {
	margin-top: 20px;
}

@media (width < 800px) {
	.top hgroup h1 {
		font-size: 40px;
		line-height: 55px;
	}

	.top hgroup p {
		font-size: 18px;
		line-height: 25px;
	}

	.top hgroup p span {
		display: inline-block;
	}

	.aboutWrap {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
		gap: 10px;
		margin-top: 10px;
	}
}

@media (width < 500px) {
	.top hgroup h1 {
		font-size: 30px;
		line-height: 35px;
	}
}
