.wrapper {
	width: calc(100dvw - 60px);
	max-width: 1300px;
	margin: 30px auto;
	overflow: hidden;
	background-color: #b1d4f7;
}

main {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin-bottom: 80px;
}

.section {
	width: calc(100% - 60px);
	max-width: 1000px;
	margin: 0 auto;
}

hgroup {
	margin-bottom: 35px;
}

hgroup p {
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 300;
	line-height: 50px;
}

hgroup h2 {
	font-size: 25px;
	font-weight: 700;
}

.top {
	position: relative;
	width: 100%;
	height: 70lvh;
	max-height: 700px;
}

.topImage {
	display: flex;
	height: 100%;
	margin: 30px 0 0;
}

.topImage img {
	width: auto;
	height: 100%;
	animation: top-image-animation 60s linear infinite;
}

@keyframes top-image-animation {
	0% {
		transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.topHeading {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 100%;
}

.topHeading h1 {
	font-family: "Zen Kurenaido", Arial, Helvetica, sans-serif;
	font-size: 50px;
	line-height: 65px;
}

.topHeading span {
	position: relative;
	z-index: 10;
	display: block;
	width: fit-content;
}

.topHeading h1 span {
	max-width: calc(100% - 60px);
	margin-bottom: 10px;
}

.topHeading h1 span::after {
	position: absolute;
	top: 0;
	left: -15px;
	z-index: -1;
	width: calc(100% + 30px);
	height: 100%;
	content: "";
	background-color: #fff;
}

.topHeading p {
	margin-top: 5px;
	font-size: 20px;
	line-height: 35px;
}

.topHeading p span {
	max-width: calc(100% - 60px);
	margin-bottom: 0;
}

.topHeading p span::after {
	position: absolute;
	top: 0;
	left: -15px;
	z-index: -1;
	width: calc(100% + 30px);
	height: 100%;
	content: "";
	background-color: #fff;
}

.aboutContents {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	align-items: flex-start;
	justify-content: space-between;
}

.aboutContentsWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aboutContentsWrap img {
	display: block;
	width: 100px;
	height: 100px;
	padding: 30px;
	margin-bottom: 16px;
	background-color: #fff;
	border-radius: 9999px;
}

.aboutContentsWrap h3 {
	margin-bottom: 8px;
	font-size: 24px;
}

.aboutContentsWrap p {
	font-size: 16px;
}

.ruinsWrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
}

.ruinsWrapFirst,
.ruinsWrapSecond {
	display: flex;
	gap: 90px;
	list-style: none;
}

.ruinsWrapFirst {
	justify-content: flex-start;
}

.ruinsWrapSecond {
	justify-content: flex-end;
}

.ruinsCard {
	position: relative;
	width: 300px;
	height: 180px;
	overflow: hidden;
	list-style: none;
	border-radius: 8px;
	box-shadow: 5px 5px 0 0 #f2f399;
}

.ruinsCard a {
	display: block;
	width: 100%;
	height: 100%;
}

.ruinsCard .chip {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 4px 8px;
	color: #fff;
	background-color: #000;
	border-radius: 9999px;
}

.ruinsCard img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (width < 800px) {
	.topHeading h1 {
		font-size: 40px;
		line-height: 55px;
	}

	.topHeading p {
		font-size: 18px;
		line-height: 25px;
	}

	.topHeading p span {
		display: inline-block;
	}

	.aboutContents {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.aboutContentsWrap {
		display: flex;
		flex-direction: row;
		gap: 10px;
		justify-content: flex-start;
	}

	.aboutContentsWrap img {
		width: 80px;
		height: 80px;
		padding: 20px;
	}

	.aboutContentsWrapText {
		width: calc(100% - 110px);
	}

	.ruinsWrapFirst,
	.ruinsWrapSecond {
		gap: 10px;
		justify-content: space-around;
	}
}

@media (width < 500px) {
	.topHeading h1 {
		font-size: 30px;
		line-height: 35px;
	}

	.aboutContentsWrap {
		align-items: flex-start;
	}

	.aboutContentsWrap img {
		width: 24px;
		height: 24px;
		padding: 4px;
	}

	.aboutContentsWrapText {
		width: calc(100% - 28px);
	}

	.ruinsWrap {
		gap: 16px;
	}

	.ruinsWrapFirst,
	.ruinsWrapSecond {
		flex-direction: column;
		gap: 16px;
	}

	.ruinsCard {
		width: 100%;
	}
}
